In [1]:
pip install pandas

Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
sales_summary = pd.read_csv(r"C:\Users\DELL\Downloads\sales summary.csv")

competitors_pricing = pd.read_csv(r"C:\Users\DELL\Downloads\Competitors pricing.csv")

In [4]:
merged_data = pd.merge(sales_summary, competitors_pricing, on='item_id')

In [5]:
merged_data.to_csv('merged_data_file.csv', index=False)

In [6]:
print(merged_data)

       fiscal_week_id_x    store_id     item_id  item_cost_amt  item_qty  \
0               2019-11  7382791459   943157526         134.49       435
1               2019-11  7382791459   943157526         134.49       435
2               2019-11  7382791459   943157526         134.49       435
3               2019-11  7382791459   943157526         134.49       435
4               2019-11  7382791459   943157526         134.49       435
...                 ...         ...         ...            ...       ...
499995          2019-15  1002825197  3646391743          94.10       351
499996          2019-15  1002825197  3646391743          94.10       351
499997          2019-15  1002825197  3646391743          94.10       351
499998          2019-15  1002825197  3646391743          94.10       351
499999          2019-15  1002825197  3646391743          94.10       351

        sales_amt_no_discount  sales_amt fiscal_week_id_y  merchant_id  \
0                     4716.74   11272.59          2019-14   2812047049
1                     4716.74   11272.59          2019-15   2542078802
2                     4716.74   11272.59          2019-13   4113714990
3                     4716.74   11272.59          2019-15   6209476193
4                     4716.74   11272.59          2019-14   9513682426
...                       ...        ...              ...          ...
499995                2629.98   10675.67          2019-11   7202172664
499996                2629.98   10675.67          2019-14   2989585334
499997                2629.98   10675.67          2019-13   8958835534
499998                2629.98   10675.67          2019-11   7167758617
499999                2629.98   10675.67          2019-11   4816680293

       merchant_name    city address    state  zipcode   price
0         merchant58  city58  city58  state58    61016  128.97
1         merchant18  city18  city18  state18    63431  113.19
2         merchant13  city13  city13  state13    56099  303.60
3         merchant63  city63  city63  state63    74419  286.86
4         merchant91  city91  city91  state91    80637   64.04
...              ...     ...     ...      ...      ...     ...
499995    merchant22  city22  city22  state22    53511  132.82
499996    merchant12  city12  city12  state12    71178  129.29
499997    merchant40  city40  city40  state40    21632  270.54
499998    merchant85  city85  city85  state85    38734  128.25
499999    merchant70  city70  city70  state70    85377  225.36

[500000 rows x 15 columns]

In [7]:
print(merged_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   fiscal_week_id_x       500000 non-null  object
 1   store_id               500000 non-null  int64
 2   item_id                500000 non-null  int64
 3   item_cost_amt          500000 non-null  float64
 4   item_qty               500000 non-null  int64
 5   sales_amt_no_discount  500000 non-null  float64
 6   sales_amt              500000 non-null  float64
 7   fiscal_week_id_y       500000 non-null  object
 8   merchant_id            500000 non-null  int64
 9   merchant_name          500000 non-null  object
 10  city                   500000 non-null  object
 11  address                500000 non-null  object
 12  state                  500000 non-null  object
 13  zipcode                500000 non-null  int64
 14  price                  500000 non-null  float64
dtypes: float64(4), int64(5), object(6)
memory usage: 57.2+ MB
None

In [8]:
print(merged_data.describe())

           store_id       item_id  item_cost_amt       item_qty  \
count  5.000000e+05  5.000000e+05  500000.000000  500000.000000
mean   5.168806e+09  5.289909e+09     167.010172     399.608764
std    2.760738e+09  3.014646e+09      69.490676      59.405140
min    1.002825e+09  4.006646e+07      47.700000     285.000000
25%    2.238250e+09  2.612616e+09     105.370000     348.000000
50%    5.090165e+09  5.565170e+09     159.440000     401.000000
75%    7.406571e+09  8.258242e+09     221.900000     451.000000
max    8.994014e+09  9.955717e+09     310.660000     522.000000

       sales_amt_no_discount      sales_amt   merchant_id        zipcode  \
count          500000.000000  500000.000000  5.000000e+05  500000.000000
mean             4771.482667   11396.210339  5.442145e+09   57490.031900
std              1524.781488    2091.959085  2.867739e+09   21455.371604
min              2003.700000    7613.560000  1.555563e+08   20280.000000
25%              3481.850000    9549.550000  2.854756e+09   37304.000000
50%              4749.320000   11236.660000  5.783217e+09   57949.000000
75%              6048.530000   13173.020000  8.040081e+09   75415.000000
max              7853.810000   15685.080000  9.776340e+09   96171.000000

               price
count  500000.000000
mean      174.280887
std        71.545297
min        47.950000
25%       118.627500
50%       162.510000
75%       237.335000
max       313.640000

In [9]:
average_data = merged_data.groupby('item_id').mean(numeric_only=True).reset_index()

In [10]:
(average_data)

,item_id,store_id,item_cost_amt,item_qty,sales_amt_no_discount,sales_amt,merchant_id,zipcode,price
0,40066459,5.168806e+09,154.4652,431.26,2238.8938,11496.3794,4.960390e+09,55773.980769,177.809038
1,110182091,5.168806e+09,114.8068,462.96,6685.3548,12694.0070,5.649695e+09,54161.043478,186.093696
2,146177382,5.168806e+09,84.8402,405.12,5696.2284,9868.8232,5.286868e+09,56620.466667,184.478500
3,226897731,5.168806e+09,61.8662,435.12,6310.1462,13077.2548,4.845623e+09,57108.063830,180.344681
4,295824976,5.168806e+09,98.1114,431.64,5970.8560,11207.7326,5.205286e+09,53830.732143,163.555000
...,...,...,...,...,...,...,...,...,...
195,9685775214,5.168806e+09,149.1200,313.34,3268.4184,14440.8660,5.554008e+09,59506.568966,181.484483
196,9713077150,5.168806e+09,110.9538,356.76,6716.3980,8139.1920,5.002400e+09,54785.527273,176.903455
197,9768067357,5.168806e+09,151.2554,447.38,7013.9902,10777.6298,5.340919e+09,61931.157895,165.550702
198,9892616029,5.168806e+09,241.7264,373.42,4124.9170,12055.2104,5.782935e+09,54707.156863,169.800196
199,9955716600,5.168806e+09,148.6564,465.30,6504.7238,12575.8758,5.188292e+09,57721.571429,172.449107

In [35]:
#calculate the price difference
merged_data['price_difference'] = merged_data['item_cost_amt'] - merged_data['price']

In [36]:
print(merged_data.head())

  fiscal_week_id_x    store_id    item_id  item_cost_amt  item_qty  \
0          2019-11  7382791459  943157526         134.49       435
1          2019-11  7382791459  943157526         134.49       435
2          2019-11  7382791459  943157526         134.49       435
3          2019-11  7382791459  943157526         134.49       435
4          2019-11  7382791459  943157526         134.49       435

   sales_amt_no_discount  sales_amt fiscal_week_id_y  merchant_id  \
0                4716.74   11272.59          2019-14   2812047049
1                4716.74   11272.59          2019-15   2542078802
2                4716.74   11272.59          2019-13   4113714990
3                4716.74   11272.59          2019-15   6209476193
4                4716.74   11272.59          2019-14   9513682426

  merchant_name    city address    state  zipcode   price  price_difference
0    merchant58  city58  city58  state58    61016  128.97              5.52
1    merchant18  city18  city18  state18    63431  113.19             21.30
2    merchant13  city13  city13  state13    56099  303.60           -169.11
3    merchant63  city63  city63  state63    74419  286.86           -152.37
4    merchant91  city91  city91  state91    80637   64.04             70.45

In [37]:
#calculation of items where competitor's price is higher than our cost
higher_competitor_prices = merged_data[merged_data['price_difference'] > 0]
print("Competitor's price is higher than our cost:")
print(higher_competitor_prices.head())

Competitor's price is higher than our cost:
   fiscal_week_id_x    store_id    item_id  item_cost_amt  item_qty  \
0           2019-11  7382791459  943157526         134.49       435
1           2019-11  7382791459  943157526         134.49       435
4           2019-11  7382791459  943157526         134.49       435
10          2019-11  7382791459  943157526         134.49       435
12          2019-11  7382791459  943157526         134.49       435

    sales_amt_no_discount  sales_amt fiscal_week_id_y  merchant_id  \
0                 4716.74   11272.59          2019-14   2812047049
1                 4716.74   11272.59          2019-15   2542078802
4                 4716.74   11272.59          2019-14   9513682426
10                4716.74   11272.59          2019-14   7019567516
12                4716.74   11272.59          2019-13   7968014915

   merchant_name    city address    state  zipcode   price  price_difference
0     merchant58  city58  city58  state58    61016  128.97              5.52
1     merchant18  city18  city18  state18    63431  113.19             21.30
4     merchant91  city91  city91  state91    80637   64.04             70.45
10    merchant29  city29  city29  state29    59161   88.16             46.33
12    merchant86  city86  city86  state86    89659   85.32             49.17

In [38]:
#calculation of items where competitor's price is lower than our cost
lower_competitor_prices = merged_data[merged_data['price_difference'] < 0]
print(lower_competitor_prices.head())

  fiscal_week_id_x    store_id    item_id  item_cost_amt  item_qty  \
2          2019-11  7382791459  943157526         134.49       435
3          2019-11  7382791459  943157526         134.49       435
5          2019-11  7382791459  943157526         134.49       435
6          2019-11  7382791459  943157526         134.49       435
7          2019-11  7382791459  943157526         134.49       435

   sales_amt_no_discount  sales_amt fiscal_week_id_y  merchant_id  \
2                4716.74   11272.59          2019-13   4113714990
3                4716.74   11272.59          2019-15   6209476193
5                4716.74   11272.59          2019-12   5704229107
6                4716.74   11272.59          2019-13   3699674355
7                4716.74   11272.59          2019-14   8788420896

  merchant_name    city address    state  zipcode   price  price_difference
2    merchant13  city13  city13  state13    56099  303.60           -169.11
3    merchant63  city63  city63  state63    74419  286.86           -152.37
5     merchant5   city5   city5   state5    81947  250.78           -116.29
6    merchant51  city51  city51  state51    53182  221.72            -87.23
7    merchant97  city97  city97  state97    62720  177.16            -42.67

In [39]:
#calculation of items where competitor's prices is equal to our cost
equal_to_competitors_prices = merged_data[merged_data['price_difference'] == 0]
print(equal_to_competitors_prices.head())

       fiscal_week_id_x    store_id     item_id  item_cost_amt  item_qty  \
24336           2019-14  7406571162  2064820915         274.01       378
25240           2019-11  2238250458  8158750511         160.94       455
80296           2019-11  1002825197   364732911         116.57       307
81668           2019-15  4410470601   364732911         116.61       295
153353          2019-11  8725088442  1967383933         203.82       425

        sales_amt_no_discount  sales_amt fiscal_week_id_y  merchant_id  \
24336                 6484.45   14271.08          2019-13   8287488530
25240                 3709.28    8508.45          2019-11   5601623513
80296                 3450.53   10252.92          2019-12   9513682426
81668                 3391.04    9837.72          2019-13   9298508556
153353                3474.70   13453.51          2019-12    822460751

       merchant_name    city address    state  zipcode   price  \
24336     merchant79  city79  city79  state79    62347  274.01
25240      merchant9   city9   city9   state9    23761  160.94
80296     merchant91  city91  city91  state91    80637  116.57
81668     merchant95  city95  city95  state95    35701  116.61
153353    merchant24  city24  city24  state24    36568  203.82

        price_difference
24336                0.0
25240                0.0
80296                0.0
81668                0.0
153353               0.0

In [40]:
#define price brackets
bins = [0, 50, 100, 150, 200, 250, 300, 350, 400, 450, 500]
labels = ['0-50', '51-100', '101-150', '151-200', '201-250', '251-300', '301-350', '351-400', '401-450', '451-500']

In [41]:
#create price brackets for both our company and our competitors
merged_data['price_bracket'] = pd.cut(merged_data['item_cost_amt'], bins=bins, labels=labels, right=False)
merged_data['competitors_price_bracket'] = pd.cut(merged_data['price'], bins=bins, labels=labels, right=False)

In [42]:
#calculate sales amount by price bracket for our company
sales_by_bracket_our_company = merged_data.groupby('price_bracket')['sales_amt'].sum().reset_index()
sales_by_bracket_our_company.columns = ['Price Bracket', 'Our Store Sales Amount']

In [43]:
#calculate sales amount by price bracket for competitors
merged_data['competitors_sales_amount'] = merged_data['price']* merged_data['item_qty']
sales_by_bracket_competitors = merged_data.groupby('competitors_price_bracket')['competitors_sales_amount'].sum().reset_index()
sales_by_bracket_competitors.columns = ['Price Bracket', 'Competitors Sales Amount']

In [44]:
sales_by_bracket = pd.merge(sales_by_bracket_our_company, sales_by_bracket_competitors, on='Price Bracket')

In [45]:
sales_by_bracket

  Price Bracket  Our Store Sales Amount  Competitors Sales Amount
0          0-50            1.560603e+07              4.047386e+07
1        51-100            1.250895e+09              2.626441e+09
2       101-150            1.437697e+09              6.539628e+09
3       151-200            1.024898e+09              5.693793e+09
4       201-250            1.054988e+09              8.662248e+09
5       251-300            8.475236e+08              1.036995e+10
6       301-350            6.649750e+07              8.952167e+08
7       351-400            0.000000e+00              0.000000e+00
8       401-450            0.000000e+00              0.000000e+00
9       451-500            0.000000e+00              0.000000e+00

In [46]:
# segment customers based on purchasing behavior

# calculate average price and total quantity sold for each item
item_summary = sales_summary.groupby('item_id').agg({
    'item_cost_amt': 'mean',
    'item_qty': 'sum'
}).reset_index()

# merge the item summary back to the main dataset
sales_summary = pd.merge(sales_summary, item_summary, on='item_id', suffixes=('', '_avg'))

# define segments based on average price
sales_summary['segment'] = pd.cut(sales_summary['item_cost_amt_avg'], bins=[0, 50, 150, 300], labels=['Low', 'Medium', 'High'])

# calculate price elasticity for each segment
segments = sales_summary['segment'].unique()
elasticity_data = []

for segment in segments:
    segment_data = sales_summary[sales_summary['segment'] == segment]
    segment_data['price_change'] = segment_data['item_cost_amt'].pct_change()
    segment_data['qty_change'] = segment_data['item_qty'].pct_change()
    segment_data['elasticity'] = segment_data['qty_change'] / segment_data['price_change']
    segment_data.replace([float('inf'), -float('inf')], float('nan'), inplace=True)
    avg_elasticity = segment_data['elasticity'].mean()
    elasticity_data.append({'segment': segment, 'avg_elasticity': avg_elasticity})

elasticity_df = pd.DataFrame(elasticity_data)

elasticity_df

C:\Users\DELL\AppData\Local\Temp\ipykernel_27320\559751649.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  segment_data['price_change'] = segment_data['item_cost_amt'].pct_change()
C:\Users\DELL\AppData\Local\Temp\ipykernel_27320\559751649.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  segment_data['qty_change'] = segment_data['item_qty'].pct_change()
C:\Users\DELL\AppData\Local\Temp\ipykernel_27320\559751649.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  segment_data['elasticity'] = segment_data['qty_change'] / segment_data['price_change']
C:\Users\DELL\AppData\Local\Temp\ipykernel_27320\559751649.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  segment_data.replace([float('inf'), -float('inf')], float('nan'), inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_27320\559751649.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  segment_data['price_change'] = segment_data['item_cost_amt'].pct_change()
C:\Users\DELL\AppData\Local\Temp\ipykernel_27320\559751649.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  segment_data['qty_change'] = segment_data['item_qty'].pct_change()
C:\Users\DELL\AppData\Local\Temp\ipykernel_27320\559751649.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  segment_data['elasticity'] = segment_data['qty_change'] / segment_data['price_change']
C:\Users\DELL\AppData\Local\Temp\ipykernel_27320\559751649.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  segment_data.replace([float('inf'), -float('inf')], float('nan'), inplace=True)

  segment  avg_elasticity
0  Medium       -0.191106
1    High        0.509250

In [54]:
# create a copy of the dataset for simulation
dynamic_pricing_data = sales_summary.copy()

# apply dynamic pricing rules
dynamic_pricing_data.loc[dynamic_pricing_data['segment'] == 'Medium', 'dynamic_price'] = dynamic_pricing_data['item_cost_amt'] * 1.05
dynamic_pricing_data.loc[dynamic_pricing_data['segment'] == 'High', 'dynamic_price'] = dynamic_pricing_data['item_cost_amt'] * 0.90

# calculate new sales amounts based on dynamic prices
dynamic_pricing_data['dynamic_sales_amt'] = dynamic_pricing_data['dynamic_price'] * dynamic_pricing_data['item_qty']

# compare total sales amount between existing and dynamic pricing
total_sales_existing = sales_summary['sales_amt'].sum()
total_sales_dynamic = dynamic_pricing_data['dynamic_sales_amt'].sum()

# compare total quantity sold between existing and dynamic pricing
total_qty_existing = sales_summary['item_qty'].sum()
total_qty_dynamic = dynamic_pricing_data['item_qty'].sum()  # quantity sold remains the same for comparison

comparison_summary = pd.DataFrame({
    'Metric': ['Total Sales Amount', 'Total Quantity Sold'],
    'Existing Pricing': [total_sales_existing, total_qty_existing],
    'Dynamic Pricing': [total_sales_dynamic, total_qty_dynamic]
})

comparison_summary

                Metric  Existing Pricing  Dynamic Pricing
0   Total Sales Amount      1.142020e+08     6.218718e+08
1  Total Quantity Sold      3.988155e+06     3.988155e+06

In [55]:
sales_summary['dynamic_price'] = dynamic_pricing_data['dynamic_price']

In [56]:
sales_summary

,fiscal_week_id,store_id,item_id,item_cost_amt,item_qty,sales_amt_no_discount,sales_amt,item_cost_amt_avg,item_qty_avg,segment,dynamic_price
0,2019-11,7382791459,943157526,134.49,435,4716.74,11272.59,132.1098,22227,Medium,141.2145
1,2019-11,8994013709,943157526,136.79,459,4890.43,11545.08,132.1098,22227,Medium,143.6295
2,2019-11,8725088442,943157526,138.67,458,4933.46,11517.46,132.1098,22227,Medium,145.6035
3,2019-11,5769860136,943157526,128.93,459,4962.56,11216.19,132.1098,22227,Medium,135.3765
4,2019-11,4410470601,943157526,134.45,436,4704.89,10980.31,132.1098,22227,Medium,141.1725
...,...,...,...,...,...,...,...,...,...,...,...
9995,2019-15,2238250458,3646391743,98.89,353,2666.83,10299.90,95.9454,17949,Medium,103.8345
9996,2019-15,7406571162,3646391743,94.97,343,2472.23,9981.52,95.9454,17949,Medium,99.7185
9997,2019-15,3790816030,3646391743,92.61,364,2524.88,10346.17,95.9454,17949,Medium,97.2405
9998,2019-15,1967375594,3646391743,100.41,367,2620.04,10682.56,95.9454,17949,Medium,105.4305
9999,2019-15,1002825197,3646391743,94.10,351,2629.98,10675.67,95.9454,17949,Medium,98.8050